@use 'variables';

footer{
    background-color: variables.$gray;
    padding: 1em 0;
    .socials{
        margin: auto;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a{
            width: 100%;
            text-align: center;
            .social-logo{
                width: 30%;    
            }
        }
    }
}

@media screen and (max-width: 640px){
    footer{
        .socials{
            width: 80%;
            a{
                width: 100%;
                .social-logo{
                    width: 50%;
                }
            }
        }
    }
}