@use 'variables';

.nav-bar{
    background-color: rgba($color: #000000, $alpha: .7);
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        a{
            text-decoration: none;
            color: variables.$navigation-color;
            .logo-text{
                margin: 0 5px;
            }
            .logo-image{
                width: 1.3em;
            }    
        }
    }
    .nav-link{
        color: variables.$navigation-color;
    }
}