@use 'variables';

.parallax{
    
    // background-image: url('/assets/img/background.jpeg');
    width: 100vw;
    height: 100vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    align-items: center;
    justify-content: left;
    padding-left: 2em;
    h1{
        font-size: 2.8em; 
        color: variables.$brown;
        position: relative;
        white-space: nowrap;
        .typing{
            color: variables.$light-brown;
            border-right: .15em solid variables.$brown;
            animation: blink-caret .75s step-end infinite;
        }
    }
}

.test{
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: variables.$brown; }
  }