@use 'variables';
@use 'animations';
.parallax{    
    // background-image: url('/assets/img/background.jpeg');
    width: 100vw;
    height: 100vh;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 2em;
    h1{
        font-size: 2.8em; 
        color: variables.$brown;
        position: relative;
        .typing{
            color: variables.$light-brown;
            border-right: .15em solid variables.$brown;
            animation: blink-caret .75s step-end infinite;
        }
    }
}
@media screen and(max-width: 375px){
    canvas{
        height: 100vh;
    }
    .parallax{
        height: 100vh;
        width: 80%;
        h1{
            font-size: 1.5em;
            white-space:normal;
        }
    }
}