.parallax{
    background-image: url('/assets/img/background.jpeg');
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 2em; 
        color: #fff;
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin: 0 auto;
        animation:
            blink-caret .75s step-end infinite;
    }
}

.test{
    background-color: salmon;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }