@use 'variables';
@use 'mixings';
.skillset{
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        @include mixings.title;
    }
    .divider{
        @include mixings.divider;
        background-color: variables.$gray;
    }
    .personal-info{
        font-size: 1.5em;
        font-weight: 500;
        margin: 1em 0;
        text-align: center;
        color: variables.$gray;
        a{
            color: variables.$brown;
        }
        a:hover{
            color:variables.$light-brown;
        }
    }
    .row{
        margin: .5em 0;
        width: 80%;
        display: flex;
        justify-content: center;
        .column{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .service-img{
                width: 50%;
            }
            .subtitle{
                @include mixings.subtitle;
                color: variables.$gray;
            }
            .skillbar{
                margin: .5em 0;
                width: 80%;
                border-radius: 10px;
                background-color: variables.$light-gray;
                animation: left-to-right forwards 2s ;
                .progress{
                    font-weight: 900;
                    font-size: .7em; 
                    text-align: right;
                    padding: 1em;
                    width:10%;
                    height: 1.5em;
                    color: #fff;
                    border-radius: 10px;
                    position: relative;
                    .skillName{
                        position: absolute;
                        left: 10%;
                    }
                }
                .blue{
                    background-color: variables.$blue;
                }
                .gray{
                    background-color: variables.$gray;
                }
                .brown{
                    background-color: variables.$brown;
                }
            }
        }
    }
}

@media screen and (max-width: 310px){
    .skillset{
        .title{
            font-size: 1.7em;
        }
        .personal-info{
            padding: 0 2em;
            font-size: 1.3em;
        }
        .row{
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            .column{
                width: 100%;
                margin: 1.5em 0;
                .service-img{
                    width: 60%;
                }
                .subtitle{
                    font-size: 1.5em;
                }
            }
        }
    }
}