* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.animation {
  opacity: 0;
}

@keyframes left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes down {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scale {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #d9b08c;
  }
}
.parallax {
  width: 100vw;
  height: 100vh;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 2em;
}
.parallax h1 {
  font-size: 2.8em;
  color: #d9b08c;
  position: relative;
}
.parallax h1 .typing {
  color: #ffcb9a;
  border-right: 0.15em solid #d9b08c;
  animation: blink-caret 0.75s step-end infinite;
}

@media screen and (max-width: 375px) {
  canvas {
    height: 100vh;
  }

  .parallax {
    height: 100vh;
    width: 80%;
  }
  .parallax h1 {
    font-size: 1.5em;
    white-space: normal;
  }
}
.mobil-nav {
  display: none;
}

.nav-bar {
  background-color: #2c3531;
  padding: 1em 2em;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1;
  border-bottom: #116466 solid 5px;
  flex-direction: row;
}
.nav-bar .nav-link {
  color: #fff;
}
.nav-bar .active {
  color: #ffcb9a;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 375px) {
  .mobil-nav {
    background-color: #2c3531;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 0%;
    height: 100%;
    z-index: 10;
    border-bottom: #116466 solid 5px;
    flex-direction: column;
    transition: 0.3s;
  }
  .mobil-nav .nav-link-mobil {
    color: #fff;
    display: none;
  }
  .mobil-nav .active {
    color: #ffcb9a;
  }

  .nav-bar {
    display: none;
  }
}
.skillset {
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillset .title {
  font-weight: 900;
  font-size: 2.5em;
  color: #2c3531;
}
.skillset .divider {
  height: 5px;
  width: 100px;
  border-radius: 2px;
  margin: 0.5em;
  background-color: #2c3531;
}
.skillset .personal-info {
  font-size: 1.5em;
  font-weight: 500;
  margin: 1em 0;
  text-align: center;
  color: #2c3531;
}
.skillset .personal-info a {
  color: #d9b08c;
}
.skillset .personal-info a:hover {
  color: #ffcb9a;
}
.skillset .row {
  margin: 0.5em 0;
  width: 80%;
  display: flex;
  justify-content: center;
}
.skillset .row .column {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillset .row .column .service-img {
  width: 50%;
}
.skillset .row .column .subtitle {
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
  color: #2c3531;
}
.skillset .row .column .skillbar {
  margin: 0.5em 0;
  width: 80%;
  border-radius: 10px;
  background-color: #d1e8e2;
  animation: left-to-right forwards 2s;
}
.skillset .row .column .skillbar .progress {
  font-weight: 900;
  font-size: 0.7em;
  text-align: right;
  padding: 1em;
  width: 10%;
  height: 1.5em;
  color: #fff;
  border-radius: 10px;
  position: relative;
}
.skillset .row .column .skillbar .progress .skillName {
  position: absolute;
  left: 10%;
}
.skillset .row .column .skillbar .blue {
  background-color: #116466;
}
.skillset .row .column .skillbar .gray {
  background-color: #2c3531;
}
.skillset .row .column .skillbar .brown {
  background-color: #d9b08c;
}

@media screen and (max-width: 375px) {
  .skillset .title {
    font-size: 1.7em;
  }
  .skillset .personal-info {
    padding: 0 2em;
    font-size: 1.3em;
  }
  .skillset .row {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .skillset .row .column {
    width: 100%;
    margin: 1.5em 0;
  }
  .skillset .row .column .service-img {
    width: 60%;
  }
  .skillset .row .column .subtitle {
    font-size: 1.5em;
  }
}
.contact {
  width: 100%;
  background-color: #116466;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2em 0;
}
.contact .decoration {
  width: 100%;
  display: flex;
  align-items: center;
}
.contact .decoration .decoration-image {
  width: 100%;
  margin: 0 0 5em 0;
}
.contact .subtitle {
  text-align: center;
  font-size: 1.5em;
  margin: 0.5em;
}
.contact .title {
  font-weight: 900;
  font-size: 2.5em;
  color: #2c3531;
  color: #d1e8e2;
}
.contact .divider {
  height: 5px;
  width: 100px;
  border-radius: 2px;
  margin: 0.5em;
  background-color: #d1e8e2;
}
.contact .form {
  width: 40%;
  margin-bottom: 10em;
}
.contact .form .form-group {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5em 0;
}
.contact .form .form-group .form-input {
  background-color: #2c3531;
  border: none;
  padding: 1em;
  width: 100%;
  color: #d1e8e2;
  resize: none;
}
.contact .form .form-group textarea {
  height: 8em;
}
.contact .form .form-group .form-input::placeholder {
  color: #d1e8e2;
  font-size: 1.2em;
}
.contact .form .form-group .submit {
  border: 2px solid #d1e8e2;
  color: #d1e8e2;
  background-color: #116466;
  width: 20%;
  font-size: 1em;
  padding: 0.5em;
  transition: 0.5s;
}
.contact .form .form-group .submit:hover {
  background-color: #2c3531;
  border: 1px solid #2c3531;
  transition: 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .contact {
    padding: 0;
  }
  .contact .title {
    font-size: 1.7em;
  }
  .contact .subtitle {
    font-size: 1.5em;
  }
  .contact .form {
    width: 70%;
  }
  .contact .form .form-group {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .contact .form .form-group .form-input {
    padding: 0.5e;
  }
  .contact .form .form-group .submit {
    width: 100%;
    padding: 0.5em;
  }
}
footer {
  background-color: #2c3531;
  padding: 1em 0;
}
footer .socials {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .socials a {
  width: 100%;
  text-align: center;
}
footer .socials a .social-logo {
  width: 30%;
}

@media screen and (max-width: 375px) {
  footer .socials {
    width: 80%;
  }
  footer .socials a {
    width: 100%;
  }
  footer .socials a .social-logo {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .burger {
    width: 4em;
    height: 4em;
    background-color: #116466;
    position: fixed;
    bottom: 1em;
    left: 1em;
    z-index: 100;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
  }
  .burger .line {
    width: 2em;
    height: 0.5em;
    background-color: #fff;
    margin: 2px;
    border-radius: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
